*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Portfolio */
.wiinsBG img, .infiniteBG img {
    border-radius: 20px;
    object-fit: contain;
    object-position: center;
}

/* Project Wiin's - Project Infinite */
.wiins, .infinite {
    position: relative;
}

.wiins p:nth-of-type(1), .wiins p:nth-of-type(2),
.infinite p:nth-of-type(1), .infinite p:nth-of-type(2) {
    text-align: justify;
}

.wiins a, .infinite a {
    text-decoration: none;
}

.wiins .socialIcon a, .infinite .socialIcon a {
    color: #000;
}

.socialIcon .discord .bi-discord {border-radius: 5px;transition: all 0.2s;}
.socialIcon .discord:hover .bi-discord {
    color: #fff;
    background-color: #5865f2;
    border-radius: 5px;
}

.socialIcon .instagram .bi-instagram {border-radius: 5px;transition: all 0.2s;}
.socialIcon .instagram:hover .bi-instagram {
    color: #fff;
    background: linear-gradient(45deg,#f2c800,#e11b43,#9049c5);
    border-radius: 5px;
}

.socialIcon .linkedin .bi-linkedin {border-radius: 5px;transition: all 0.2s;}
.socialIcon .linkedin:hover .bi-linkedin {
    color: #fff;
    background-color: #0a66c2;
}

.socialIcon .github .bi-github {border-radius: 5px;transition: all 0.2s;}
.socialIcon .github:hover .bi-github {
    color: rgb(66, 66, 66);
    border-radius: 50%;
}

.socialIcon .facebook .bi-facebook {border-radius: 5px;transition: all 0.2s;}
.socialIcon .facebook:hover .bi-facebook {
    color: #3e5b99;
    border-radius: 50%;
}

/* More About Wiins - More About Infinite */
.moreAboutWiins p, .moreAboutInfinite p {
    text-align: justify;
}

.music img {
    object-fit: cover;
    object-position: center;
}

.feed img {
    object-fit: contain;
    object-position: center;
    padding-left: 3.2rem;
    padding-top: 2rem;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .feed img {
        object-fit: contain;
        object-position: center;
        padding: 0;
    }
  }

.video {
    height: 40em;
    border-radius: 20px;
}

@media screen and (min-width: 500px) and (max-width: 992px) {
    .video {
        height: auto;
        border-radius: 20px;
    }
  }

.video video {
    object-fit: cover;
    border-radius: 20px;
}